button {
  padding: 4px 15px;
  border-radius: 5px;
  font-size: 17px;
  cursor: pointer;
  border: none;
}


.ex-btn {
  background-color: #f0f0f0;
  color: #333;
}


.ex-btn-warning {
  background-color: #b976ba;
  color: #000;
}


.ex-btn-success {
  background-color: #e00d3b;
  color: #fff;
}